body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  color: white;
  gap: 10px;
  background: -webkit-gradient(linear, left top, right bottom, from(#199B72), to(#4BC888));
  background: linear-gradient(to bottom right, #199B72, #4BC888);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.date:hover h1 {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  opacity: 0;
}

.date:hover input {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3rem;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: 1s ease infinite anim;
          animation: 1s ease infinite anim;
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  33% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  66% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes anim {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  33% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  66% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

input {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  padding: 0 1em;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  gap: 1em;
  padding: clamp(1em, 5vmin, 3em);
  border: 5px solid #ddffed;
  border-radius: 50px 50px 10px 10px;
  background: rgba(255, 255, 255, 0.145);
  -webkit-box-shadow: 2px 6px 20px #a8f0cb;
          box-shadow: 2px 6px 20px #a8f0cb;
  margin: 1em clamp(1em, 5vmin, 5em);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

._hide {
  opacity: 0.5;
  -webkit-transform: scale(0.8) translateY(-50px);
          transform: scale(0.8) translateY(-50px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

._hide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  border-radius: inherit;
}

._hide::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  content: "Please enter a valid date";
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
  color: #4BC888;
}

._success {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@-webkit-keyframes circles {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circles {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

._success::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4BC888;
  border-radius: 50px 50px 10px 10px;
}

._success::before::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

._success::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  content: "Congratulations !";
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
  -webkit-animation: 1s ease infinite success;
          animation: 1s ease infinite success;
}

@-webkit-keyframes success {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  33% {
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
            transform: translate(-50%, -50%) rotate(-10deg);
  }
  66% {
    -webkit-transform: translate(-50%, -50%) rotate(10deg);
            transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes success {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  33% {
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
            transform: translate(-50%, -50%) rotate(-10deg);
  }
  66% {
    -webkit-transform: translate(-50%, -50%) rotate(10deg);
            transform: translate(-50%, -50%) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  font-size: 25px;
  padding: 10px;
}

.time {
  width: 80px;
  text-align: center;
  padding: 1em;
  background: #40b578;
  border-radius: 10px;
}
